<a href="https://colab.research.google.com/github/Rishishah2003/Rishi-Shah/blob/main/ISP_Full.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Caeser Cipher

In [ ]:
a= 33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
num=float(input("Enter the number: "))
if num>0:
  print("Positive number")
elif num==0:
  print("Zero")
elif num<0:
  print("Negative Number")

Enter the number: 26
Positive number

In [ ]:
for i in range(0,5):
  print (i)
  print("Hi, how are you")

0
Hi, how are you
1
Hi, how are you
2
Hi, how are you
3
Hi, how are you
4
Hi, how are you

In [ ]:
text="MBA TECH"
for i in range(len(text)):
  print(text[i])

M
B
A

T
E
C
H

In [ ]:
def sum(arg1, arg2):
  total= arg1 + arg2
  print ("Inside the function: ", total)
  return total
total= sum(10,5)
print("Outside the function: ", total)

Inside the function:  15
Outside the function:  15

In [ ]:
text=str(input("Enter the word: "))
shift=int(input("Enter the key: "))
result=' '
for i in range(len(text)):
  char= text[i]
  print("Original char",char)
  result= result+chr((ord(char)+shift-65)%26+65)
  print("Corresponding cipher",result[i])
  print("______________________________________")
print ("Final Result",result)

Enter the word: Rishi
Enter the key: 3
Original char R
Corresponding cipher
______________________________________
Original char i
Corresponding cipher U
______________________________________
Original char s
Corresponding cipher R
______________________________________
Original char h
Corresponding cipher B
______________________________________
Original char i
Corresponding cipher Q
______________________________________
Final Result  URBQR

In [ ]:
text=str(input("Enter the word: "))
shift=int(input("Enter the key: "))
result=' '
for i in range(len(text)):
  char= text[i]
  print("Original char",char)
  result= result+chr((ord(char)+shift-97)%26+97)
  print("Corresponding cipher",result[i])
  print("______________________________________")
print ("Final Result",result)

Enter the word: shah
Enter the key: 3
Original char s
Corresponding cipher
______________________________________
Original char h
Corresponding cipher v
______________________________________
Original char a
Corresponding cipher k
______________________________________
Original char h
Corresponding cipher d
______________________________________
Final Result  vkdk

Vernam Cipher

In [ ]:
# function to apply algo of vernam cipher
def vernam(plain_text,key):
  #convert into lowercases and remove space
  plain_text= plain_text.replace(" ","")
  key= key.replace(" ","")
  plain_text= plain_text.lower()
  key= key.lower()
#checking if thye length are equal
  if (len(plain_text)!=len(key)):
    print("Length are different")
  else:
    print("Length is equal")
#Logic
    cipher_text=""
#iterating through the length
    for i in range(len(plain_text)):
      k1= ord(plain_text[i])-97
      k2= ord(key[i])-97
      s= chr((k1+k2)%26+97)
      cipher_text+=s
    print("Enrypted message is: ",cipher_text)

plain_text=input("Enter the message: ")
key= input("Enter the one time pad: ")
vernam(plain_text,key)

Enter the message: six
Enter the one time pad: mix
Length is equal
Enrypted message is:  equ

Keyword Cipher

In [ ]:
message="Attack at dawn"
keyword="Star War"
ciphertext=""

In [ ]:
#stores as uppercase
all_alphabets=[]
for i in range (65,91):
  all_alphabets.append(chr(i))
print(all_alphabets)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
#converts message to list
msg=[]
for i in message:
  msg.append(i.upper())

In [ ]:
print(msg)

['A', 'T', 'T', 'A', 'C', 'K', ' ', 'A', 'T', ' ', 'D', 'A', 'W', 'N']

In [ ]:
keyword1= keyword.upper()

In [ ]:
#removes default elements
#remove duplicates
def duplicates(list):
  key=[]
  for i in list:
    if i not in key:
      key.append(i)
  return key

In [ ]:
keyword1= duplicates(keyword1)
print("Keyword after removing duplicate",keyword1)

Keyword after removing duplicate ['S', 'T', 'A', 'R', ' ', 'W']

In [ ]:
#stores encyption list
encrypting= duplicates(keyword1 + all_alphabets)
print("Encrypting text is", encrypting)
#removes spaces from the encryption list
for i in encrypting:
  if(i==' '):
    encrypting.remove(' ')

Encrypting text is ['S', 'T', 'A', 'R', ' ', 'W', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'U', 'V', 'X', 'Y', 'Z']

In [ ]:
#maps eachy element of the message to the encryption list and stores it in cipher
for i in range(len(msg)):
  if (msg[i]!=' '):
    ciphertext= ciphertext + encrypting[all_alphabets.index(msg[i])]
  else:
    ciphertext= ciphertext+' '

In [ ]:
print("Keyword: ", keyword)
print("Message before ciphering:: ", message)
print("Ciphered Text: ", ciphertext)

Keyword:  Star War
Message before ciphering::  Attack at dawn
Ciphered Text:  SPPSAG SP RSVJ

Lambda Function

In [ ]:
list_1=[1,2,3,4,5,6]
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6]

In [ ]:
list1= [1,2,3,4,5,6,7,8]
cubed= map(lambda x: pow(x,3),list1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512]

In [ ]:
import pandas as pd
df= pd.DataFrame({
    'Name':['Luke','Gina','Sam','Emma'],
    'Status':['Father','Mother','Son','Daughter'],
    'Birthyear':[1976,1984,2013,2016],
})

In [ ]:
df

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [ ]:
df['age']= df['Birthyear'].apply(lambda x: 2022-x)
df

   Name    Status  Birthyear  age
0  Luke    Father       1976   46
1  Gina    Mother       1984   38
2   Sam       Son       2013    9
3  Emma  Daughter       2016    6

Vigenere Cipher

In [ ]:
string = "GEEKSFORGEEKS"
keyword = "SHARAN"

In [ ]:
def generateKey(string, key):
    key = list(key)
    if len(string) == len(key):
        return(key)
    else:
        for i in range(len(string) - len(key)):
            key.append(key[i % len(key)])
    return("" . join(key))

In [ ]:
def encrypt_cipherText(string, key):
    cipher_text = []
    for i in range(len(string)):
        x = ((ord(string[i]) + ord(key[i])) % 26)+ord('A')
        cipher_text.append(chr(x))
    return("" . join(cipher_text))

In [ ]:
key = generateKey(string, keyword)

In [ ]:
print("Original Message",string)
print("Keyword:", keyword)
cipher_text = encrypt_cipherText(string,key)
print("Ciphertext :", cipher_text)

Original Message GEEKSFORGEEKS
Keyword: SHARAN
Ciphertext : YLEBSSGYGVEXK

In [ ]:
def decrypt_originalText(cipher_text, key):
    orig_text = []
    for i in range(len(cipher_text)):
        x =( (ord(cipher_text[i]) - ord(key[i])) % 26 ) +ord('A')
        orig_text.append(chr(x))
    return("" . join(orig_text))

In [ ]:
key = generateKey(string, keyword)

In [ ]:
cipher_text = encrypt_cipherText(string,key)

In [ ]:
print("Ciphertext :", cipher_text)
print("Original/Decrypted Text :",decrypt_originalText(cipher_text, key))

Ciphertext : YLEBSSGYGVEXK
Original/Decrypted Text : GEEKSFORGEEKS

Diffie Hellman

In [3]:
print("Both parties agree to a single prime")
prime = int(input("Enter the prime number to be considered: "))

# primitives root to be used use
print("Both must agree with single primitive root to use")
root = int(input("Enter the primitive root: "))

Both parties agree to a single prime
Enter the prime number to be considered: 31
Both must agree with single primitive root to use
Enter the primitive root: 11

In [4]:
# party 1 chooses a secret number
alicesecret = int(input("Enter a secret number for Party1: "))
# Party 2 chooses a secret number (bs)
bobssecret = int(input("Enter a secret number for Party2: "))

Enter a secret number for Party1: 98
Enter a secret number for Party2: 60

In [5]:
print("Party1's public key -> A = root^alicesecre*mod(prime)")
alicepublic = (root**alicesecret)%prime
print("Party1 public key is: ",alicepublic,"\n")

print("Party2's public key -> B = root^alicesecre*mod(prime)")
bobpublic = (root**bobssecret)%prime
print("Party2 public key is: ",bobpublic,"\n")

Party1's public key -> A = root^alicesecre*mod(prime)
Party1 public key is:  19

Party2's public key -> B = root^alicesecre*mod(prime)
Party2 public key is:  1

In [6]:
print("Party1 calculates the shared key as K=B^alicesecret*(mod(prime))")
alicekey=(bobpublic**alicesecret)%prime
print("Party1 calculates the shared key and results: ",alicekey,"\n")

Party1 calculates the shared key as K=B^alicesecret*(mod(prime))
Party1 calculates the shared key and results:  1

In [7]:
print("Party2 calculates the shared key as K=A^bobsecret*(mod(prime))")
bobkey=(alicepublic**bobssecret)%prime
print("Party2 calculates the shared key and results: ",bobkey,"\n")

Party2 calculates the shared key as K=A^bobsecret*(mod(prime))
Party2 calculates the shared key and results:  1